Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.loginShell: true
URxvt.lineSpace: 4
URxvt.letterSpace: -1
URxvt*shading: 15
URxvt*saveLines: 12000
URxvt*scrollBar: false
URxvt*font: xft:CascadiaCode:size=11,Symbola
URxvt*boldFont: xft:CascadiaCode:bold:size=11
URxvt*termName: rxvt-256color
URxvt*xftAntialias: true
!URxvt*colorUL: #366060
!URxvt*underlineColor: #dfaf8f

!Tango
URxvt*cursorColor: #aaaaaa
!URxvt*background: #3f3f3f
!URxvt*foreground: #dcdccc
!URxvt*color0: #3f3f3f
!URxvt*color1: #cc9393
!URxvt*color2: #7f9f7f
!URxvt*color3: #d0bf8f
!URxvt*color4: #6ca0a3
!URxvt*color5: #dc8cc3
!URxvt*color6: #93e0e3
!URxvt*color7: #dcdccc
!URxvt*color8: #000000
!URxvt*color9: #dca3a3
!URxvt*color10: #bfebbf
!URxvt*color11: #f0dfaf
!URxvt*color12: #8cd0d3
!URxvt*color13: #dc8cc3
!URxvt*color14: #93e0e3
!URxvt*color15: #ffffff
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

! Dracula Xresources palette
URxvt*foreground: #F8F8F2
URxvt*background: #282A36
URxvt*color0:     #000000
URxvt*color8:     #4D4D4D
URxvt*color1:     #FF5555
URxvt*color9:     #FF6E67
URxvt*color2:     #50FA7B
URxvt*color10:    #5AF78E
URxvt*color3:     #F1FA8C
URxvt*color11:    #F4F99D
URxvt*color4:     #BD93F9
URxvt*color12:    #CAA9FA
URxvt*color5:     #FF79C6
URxvt*color13:    #FF92D0
URxvt*color6:     #8BE9FD
URxvt*color14:    #9AEDFE
URxvt*color7:     #BFBFBF
URxvt*color15:    #E6E6E6

!https://gitlab.com/protesilaos/tempus-themes-urxvt
!URxvt*background: #1a1a1a
!URxvt*foreground: #e0e0e0
!URxvt*cursorColor: #e0e0e0
!URxvt*cursorColor2: #1a1a1a
!URxvt*color0: #1a1a1a
!URxvt*color1: #fb7e8e
!URxvt*color2: #52ba40
!URxvt*color3: #b0a800
!URxvt*color4: #5aaaf2
!URxvt*color5: #ee80c0
!URxvt*color6: #1db5c3
!URxvt*color7: #c4bdaf
!URxvt*color8: #18143d
!URxvt*color9: #f69d6a
!URxvt*color10: #88c400
!URxvt*color11: #d7ae00
!URxvt*color12: #8cb4f0
!URxvt*color13: #de99f0
!URxvt*color14: #00ca9a
!URxvt*color15: #e0e0e0
!Xcursor.theme: breeze_cursors
